.features {
	background: #fff;
	
	&__title { 
		text-align: center;
		padding: 40px;
		font-size: 24px;
		line-height: 24px;
		font-weight: 300;
	}
	
	&__wrapper {
		background: #f2f2f2;
	}
	
	&__list {
		padding-top: 45px;
		padding-bottom: 325px;
		background-image: url("/img/iphone-screen-mobile@1x.png");
		background-repeat: no-repeat;
		background-size: 160px auto;
		background-position: center 565px;
	}
	
	&__item {
		padding: 0 20px;
		padding-top: 40px;
		text-align: center;
		
		&-title {
			color: #000;
		}
	}
}

@media (min-width: 700px) {
	.features__title { 
		padding: 0 10px;
		padding-top: 60px;
		font-size: 40px;
		line-height: 40px;
		
		&--second {
			padding: 0 140px;
			padding-bottom: 50px;

		}
	}
	
	.phone-tablet {
		background-image: url("/img/iphone-screen-mobile@1x.png");
		background-repeat: no-repeat;
		background-size: 280px auto;
		background-position: left 5px;
	}
	
	.features__list {
		float: right;
		width: 310px;
		padding: 0;
		padding-top: 40px;
		padding-bottom: 45px;
		background-image: none;
	}
	
	.features__item {
		padding: 0;
		padding-top: 30px;
		text-align: left;
	}
}

@media (min-width: 1200px) {
	.features__title {
		padding: 0 100px;
		padding-top: 85px;
		font-size: 50px;
		line-height: 50px;
		
		&--second {
			padding: 0 260px;
			padding-bottom: 85px;
		}
	}
	
	.phone-tablet {
		background-image: none;
	}
	
	.features__list {
		width: auto;
	}
	.features__item {
		float: left;
		width: 230px;
		padding: 60px 41px;
		padding-top: 300px;
		text-align: center;
		font: 400 18px/30px OpenSans, Arial, sans-serif;
		background-image: url("");
		background-repeat: no-repeat;
		background-size: 300px auto;
		background-position: center bottom;
		
		&-title {
			padding-top: 60px;
			padding-bottom: 30px;
			font: 700 30px/30px OpenSans, Arial, sans-serif;
		}
	}
	
}