.features {
	background: #fff;
}
.features__title { 
	text-align: center;
	padding: 0 20px;
	padding-top: 45px;
	font-size: 24px;
	line-height: 24px;
	font-weight: 300;
}	
.features__title:last-child {
	padding-bottom: 40px;
}

	
.features__wrapper {
	position: relative;
	background-color: #f2f2f2;
	background-image: url("/img/bg-triangle-white.svg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
}
	
.features__list {
	padding-top: 45px;
	padding-bottom: 325px;
	background-image: url("/img/iphone-screen-mobile@1x.png");
	background-repeat: no-repeat;
	background-size: 160px auto;
	background-position: center 590px;
}
	
.features__item {
	padding-top: 40px;
	text-align: center;
}
.features__item-title {
	color: #000;		
}

@media (min-width: 700px) {
	.features__title { 
		padding: 0px;
		padding-top: 60px;
		font-size: 40px;
		line-height: 40px;
	}
	
	.features__title:last-child {
		padding: 0 40px;
		padding-bottom: 50px;
	}
	.container-center--phone-tablet {
		background-image: url("/img/iphone-screen-mobile@1x.png");
		background-repeat: no-repeat;
		background-size: 280px auto;
		background-position: left 5px;
	}
	
	.features__list {
		float: right;
		width: 310px;
		padding: 0;
		padding-top: 40px;
		padding-bottom: 45px;
		background-image: none;
	}
	
	.features__item {
		padding: 0;
		padding-top: 30px;
		text-align: left;
	}
}

@media (min-width: 1200px) {
	.features__title {
		padding-top: 85px;
		font-size: 50px;
		line-height: 50px;
	}	
	.features__title:last-child {
		padding: 0 260px;
		padding-bottom: 85px;
	}
	
	.container-center--phone-tablet {
		background-image: none;
	}
	
	.features__list {
		width: auto;
	}
	.features__item {
		float: left;
		width: 230px;
		padding: 60px 41px;
		padding-top: 300px;
		text-align: center;
		font: 400 18px/30px OpenSans, Arial, sans-serif;
		background-image: url("");
		background-repeat: no-repeat;
		background-size: 300px auto;
		background-position: center bottom;
	}	
	.features__item-title {
		padding-top: 60px;
		padding-bottom: 30px;
		font-size: 32px;
		line-height: 32px;
	}
}