.menu {
	position: relative;
	min-height: 66px;
	background: rgba(0, 0, 0, .3);
	box-shadow: inset 0 -1px 0 0 #000;
	outline: 2px solid red;
}
.menu__logo-link {
	float: left;
	outline: 3px solid yellow;
}

.main-nav__list {
	display: none;
	min-height: 260px;
	outline: 3px solid yellow;
}

@media (min-width: 1200px) {
	.menu {
		min-height: 110px; 
	}
	.main-nav {
		float: right;
		&__list {
			display: flex;
			min-height: 110px;
		}
		
		&__item {
			padding-right: 40px;
		}
	}
}
