.page-header {
	width: 100%;
	color:  #fff;
	background-image: url(../img/bg-back-mobile@1x.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	outline: 2px solid green;	
}
.page-header__wrapper {
		background-color: rgba(0, 0, 0, .3);
	}
@media (max-width: 1200px) {
	.page-header__wrapper--opened,
	.page-header__wrapper--nojs {
		background-color: #283645;
		border-bottom: 1px solid #000;
	}
}
/*form*/
.page-header__title {
	width: 280px;
	padding: 0 20px;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: center;
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
	font-family: "Open Sans", "Arial", sans-serif;
	margin: 0 auto;
}

@media (min-width: 700px) {
	.page-header {
		background-image: 
			url("/img/iphone-hand-mobile@1x.png"), 
			url(../img/bg-back-mobile@1x.jpg);
		background-repeat: 
			no-repeat,
			no-repeat;
		background-size: 
			470px 545px,
			cover;
		background-position: 
			65% bottom,
			top center;
	}
	
	/*form*/ 
	.page-header--form {
		background-size: 0, cover;
	}
	.page-header__wrapper {
		padding: 25px 0;
	}
	
	.page-header__title {
		width: 500px;
		padding: 0 60px;
		padding-top: 80px;
		padding-bottom: 90px;
		font-size: 50px;
		line-height: 60px;
		
	}
	/*photo*/ 
	.page-header--photo {
		background-size: 0, cover;
	}
}

@media (min-width: 1200px) {
	.page-header {
		background-size: 
			400px auto,
			cover;
		background-position: 
			75% bottom,
			top center;
	}
	
	/*form*/ 
	.page-header--form {
		background-size: 0, cover;
	}
	
	.page-header__title {
		width: 820px;
		padding: 0 60px;
		padding-top: 70px;
		padding-bottom: 110px;
	}
	
	/*photo*/
	.page-header--photo {
		background-size: 0, cover;
	}
}