.page-header {
	width: 100%;
	color:  #fff;
	background-color: #222d39;
	background-image: url(../img/bg-back-mobile@1x.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto;
	
	@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
		background-image: url(../img/bg-back-mobile@2x.jpg);
		background-size: 700px auto;
	}
}

.page-header--nojs {
	background-position: center 300px;
}

.page-header__wrapper {
	background-color: rgba(0, 0, 0, .3);
}

@media (max-width: 1200px) {
	.page-header__wrapper--opened,
	.page-header__wrapper--nojs {
		background-color: #283645;
	}
}

/*form*/
.page-header__title {
	margin: 0 auto;
	padding: 0 20px;
	padding-top: 30px;
	padding-bottom: 50px;
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
	text-align: center;
}

/*photo*/
.page-header--photo .page-header__title {
	padding-bottom: 80px;
}

@media (min-width: 700px) {
	.page-header {
		background-image: 
			url("../img/iphone-hand-tablet@1x.png"), 
			url(../img/bg-back-tablet@1x.jpg);
		background-repeat: 
			no-repeat,
			no-repeat;
		background-size: 
			700px cover,
			auto;
		background-position: 
			60% bottom,
			center top;
		
		@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
			background-image: 
				url(../img/iphone-hand-tablet@2x.png),
				url(../img/bg-back-tablet@2x.jpg);
			background-size: 
				700px auto, 
				1200px auto;
		}
			
	}
	
	.page-header--nojs {
		background-position: 
			center bottom,
			center 300px;
	}
	
	.page-header--form,
	.page-header--photo {
		background-size: 
			0,
			cover;
	}
	
	.page-header__wrapper {
		padding: 25px 0;
	}
	
	@media (min-width: 1200px) {
		
	}
	
	.page-header__title {
		padding: 0 60px;
		padding-top: 70px;
		padding-bottom: 80px;
		font-size: 50px;
		line-height: 60px;
	}
	
	.page-header--photo .page-header__title {
		padding-bottom: 140px;
	}
}

@media (min-width: 1200px) {
	.page-header {
		background-image: 
			url(../img/iphone-hand-desktop@1x.png),
			url(../img/bg-back-desktop@1x.jpg);
		background-size: 
			auto, 
			cover;
		background-position: 
			75% bottom, 
			center top;
		
		@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
			background-image: url(../img/iphone-hand-desktop@2x.png);
			background-size: 1050px auto;
		}
	}
	
	.page-header--form,
	.page-header--photo {
		background-size: 
			0, 
			cover;
	}
	
	.page-header--nojs .page-header__wrapper {	
		background-color: rgba(0, 0, 0, .3);
	}
	
	.page-header__title {
		padding: 0 300px;
		padding-top: 70px;
		padding-bottom: 100px;
	}
	
	.page-header--photo .page-header__title {
		padding-bottom: 100px;
	}
}