.prices {
	position: relative;
	background-color: #f2f2f2;
	
	input[type="radio"] {
		display: none;
	}
}

@media (max-width: 700px) {
	.prices__wrapper {
		width: 100%;
		padding-top: 60px;
		padding-bottom: 100px;
		overflow: hidden;
	}
	
	.prices__toggles {
		position: absolute;
	    bottom: 35px;
	    left: 50%;
	    width: 100px;
	    margin-left: -50px;
	    text-align:center;
	    z-index: 1000;
	}
	
	.prices__toggle {
		display: inline-block;
		vertical-align: middle;
		width: 6px;
		height: 6px;
		margin-right: 12px;
		background-color: #bec2c7;
		background-clip: content-box;
		border: 3px solid transparent;
		border-radius: 50%;
		
		&:hover {
			background-color: #7e868f;
		}
		
		&:active {
			background-color: #e9ebec;
		}
	}
	
	#price-table-1:checked ~ .prices__toggles label[for="price-table-1"],
	#price-table-2:checked ~ .prices__toggles label[for="price-table-2"],
	#price-table-3:checked ~ .prices__toggles label[for="price-table-3"] {
		background-color: transparent;
		border-color: #283645;
	}
	
	#price-table-1:checked ~ .prices__wrapper .prices__table {
		transform: translateX(0);
	}
	
	#price-table-2:checked ~ .prices__wrapper .prices__table {
		transform: translateX(-33%);
	}
	
	#price-table-3:checked ~ .prices__wrapper .prices__table {
		transform: translateX(-66%);
	}
	
	.prices__col-tablet {
		display: none;
	}
}

.prices__table {
	width: calc(300% - 120px);
	margin-left: 20px;
	margin-right: 20px;
	font-family: "OpenSans", "Arial", sans-serif;
	text-transform: uppercase;
	border-collapse: collapse;
	background-color: #fff;
}

.prices__table th {
	padding: 18px 0;
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #fff;
	border-left: 2px solid #f2f2f2;
	background: #283645;
}

.prices__hit {
	position: relative;
	overflow: hidden;
	
	&:after {
		position: absolute;
		content: "хит";
		top: 5px;
		left: -30px;
		width: 100px;
		height: 30px;
		font-size: 14px;
		line-height: 30px;
		font-weight: 300;
		text-align: center;
		color: #fff;
		background-color: #d22856;
		transform: rotate(-45deg);
	}
}

.prcies__cost {
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
}

.prices__table td {
	padding: 13px;
	padding-right: 25px;
	font-size: 14px;
	line-height: 30px;
	color: #283645;
	text-align: left;
	border: 2px solid #e5e5e5;
}

.prices__cell-no,
.prices__cell-yes{
	float: right;
	width: 32px;
	height: 32px;
	font-size: 0;
}

.prices__cell-no {
	background-image: url("../img/icon-no.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.prices__cell-yes {
	background-image: url("../img/icon-yes.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

@media (min-width: 700px) {
	.prices__wrapper {
		@include container;
		padding-top: 35px;
		padding-bottom: 70px;
	}
	
	.prices__table {
		width: 100%;
		margin: 0;
	}
	
	.prices__table td {
		padding: 7px;
		padding-left: 15px;
		
	}
	
	.prices__col-tablet {
		width: 115px;
		padding-right: 0;
		font-size: 14px;
		text-align: center;
		text-transform: none;
	}
	
	
	@media (max-width: 1200px) {
		.prices__table th {
			font-size: 16px;
			padding-left: 22px;
			padding-right: 22px;
		}
	}
	
	
	th.prices__col-tablet {
		background-color: #f2f2f2;
		border: none;
	}
	
	.prices__table td {
		padding-right: 0px;
	}
	
	.prices__cell {
		display: none;
	}
	
	.prices__cell-no,
	.prices__cell-yes {
		float: none;
		display: block;
		margin: 0 auto;
	}
}

@media (min-width: 1200px) {
	.prices__wrapper {
		padding-top: 65px;
		padding-bottom: 100px;
	}
	
	.prices__table td {
		padding: 12px;
		padding-right: 15px;
		padding-left: 23px;
		font-size: 18px;	
	}
	
	.prices__col-tablet {
		width: 215px;
	}
}