.reviews {
	position: relative;
	background-color: #fff;
	background-image: url("../img/bg-triangle-gray.svg");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	
	input[type="radio"] {
		display: none;
	}
}

.reviews__item {
	padding-top: 45px;
	padding-bottom: 120px;
	font: 400 14px/30px OpenSans, Arial, sans-serif;
	text-align: center;	
}

.reviews__item-title {
	margin-bottom: 10px;
	font: 700 18px/30px OpenSans, Arial, sans-serif;
	color: #000;
}

.reviews__item-subtitle {
	display: none;
}

.reviews__toggles {
	position:absolute;
    bottom: 65px;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    text-align:center;
    z-index: 1000;
}

.reviews__toggle {
	display: inline-block;
	vertical-align: middle;
	width: 6px;
	height: 6px;
	margin-right: 12px;
	background-color: #bec2c7;
	background-clip: content-box;
	border: 3px solid transparent;
	border-radius: 50%;
	
	&:hover {
		background-color: #7e868f;
	}
	
	&:active {
		background-color: #e9ebec;
	}
}

#review-input-1:checked ~ .reviews__toggles label[for="review-input-1"],
#review-input-2:checked ~ .reviews__toggles label[for="review-input-2"],
#review-input-3:checked ~ .reviews__toggles label[for="review-input-3"] {
	background-color: transparent;
	border-color: #283645;
}

@media (min-width: 700px) {
	.reviews__item {
		display: flex;
		flex-direction: column;
		font-size: 18px;
	}
	
	.reviews__item-title {
		margin-top: 35px;
		margin-bottom: 0px;
		font-size: 20px;
		order: 2;
	}
		
	.reviews__item-subtitle {
		display: block;
		font-size: 14px;
		order: 3;
	}
	
}

@media (min-width: 1200px) {
	.reviews .container-center {
		position: relative;
	}
	.reviews__list {
		position: relative;
		background-image: url("../img/icon-quotes.svg");
		background-repeat: no-repeat;
		background-position: center 70px;
		background-size: auto;
	}
	
	.reviews__item {
		padding: 0 130px;
		padding-top: 190px;
		padding-bottom: 130px;
		
	}
	
	.reviews__item  span {
		display: none;
	}
	
	.reviews__item-title {
		font-size: 24px;
	}
	
	.reviews__item-subtitle {
		font-size: 18px;
	}
	
	.reviews__toggles {
		display: none;
	}
	
	.reviews__arrow-left,
	.reviews__arrow-right {
		position: absolute;
		top: 230px;
		width: 22px;
		height: 40px;
		
		&:hover:after {
			border-color: #7e868f;
		}
		
		&:active:after {
			border-color: #e9ebec;
		}
	}
	
	.reviews__arrow-left {
		left: 0;
		
		&:after {
			position: absolute;
			content: "";
			top: -7px;
			left: 11px;
			width: 28px;
			height: 28px;
			border-bottom: 2px solid #bec2c7;
			border-left: 2px solid #bec2c7;
			transform: rotate(45deg);
			z-index: 10;
		}
		
	}
	
	.reviews__arrow-right {
		right: 0;
		
		&:after {
			position: absolute;
			content: "";
			top: -7px;
			right: 7px;
			width: 28px;
			height: 28px;
			border-bottom: 2px solid #bec2c7;
			border-right: 2px solid #bec2c7;
			transform: rotate(-45deg);
			z-index: 10;
		}
	}
}
