.social-links {
	width: 185px;
	margin-bottom: 45px;
}

.social-link {
	display: inline-block;
    width: 45px;
    height: 45px;
	margin-right: 7px;
    font-size: 0;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: center;
	border: 3px solid #e9ebec;
    border-radius: 50%;
	
	&:hover {
		border-color: #283645;
	}
	
	&:active {
		opacity: 0.1;
	}
}

.social-link--tw {
	background-image: url("../img/icon-twitter.svg");
	background-size: 18px 15px;
}

.social-link--fb {
	background-image: url("../img/icon-facebook.svg");
	background-size:  9px 19px;
}

.social-link--yt {
	margin-right: 0;
	background-image: url("../img/icon-youtube.svg");
	background-size: 15px 14px;
}

@media (min-width: 700px) {
	.social-links {
		margin-top: 40px;
		margin-left: -10px;
	}
	
	.pink-form .social-links
	.pink-photo .social-links{
		margin-top: 20px;
		margin-left: 25px;
	}
	
	.pink-photo .social-links {
		margin-top: 40px;
		margin-left: 15px;
	}
}